{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block contents %}
<div class="container">
    <div class="header">
        <img id="logo" src="{% static 'img/logo.png' %}" />
        <nav>
            <ul>
                <li><a>글쓰기</a></li>
            </ul>
        </nav>
    </div>
    <div class="contents">
        {% for post in posts %}
        {{post.title}}
        {% endfor %}
    </div>
</div>
{% endblock %}