{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/write.css' %}" />
{% endblock %}

{% block contents %}
<div class="container">
    <div class="formContainer">
        <form method="POST" action="{% url 'writePost' %}">{% csrf_token %}
            <div class="title">글쓰기</div>
            <input required name="title" placeholder="제목" />
            <input required name="author" placeholder="작성자" />
            <textarea required name="body" placeholder="내용" rows="15"></textarea>
            <button class="submitButton">작성</button>
        </form>
    </div>
</div>
{% endblock %}