.container {
    background-color: rgb(248, 249, 250);
    height: 100vh;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #8a89ff;
    display: flex;
    align-items: center;
}

.header nav {
    margin-left: auto;
    margin-right: 2rem;
}

.header a {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #89c3ff;
    padding: 0.75rem 2rem;
    border-radius: .5rem;
    transition: all 0.15s;
    display: block;
    transform: none;
}

.header a:hover {
    background-color: #70b6ff;
    transform: scale(1.08);
}

#logo {
    width: 50px;
    margin-left: 1rem;
}

.postContainer {
    display: flex;
}

.post {
    background-color: white;
    position: relative;
    margin: 1.5rem;
    width: 200px;
    height: 250px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    transition: all 0.2s;
    transform: none;
}

.post:hover {
    transform: translateY(-3px);
}

.post .postHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.post .title {
    color: black;
    font-size: 1.2rem;
    flex: 1;
}

.post .postHeader .author {
    margin-left: auto;
    font-size: 0.5rem;
    color: gray;
}

.post .body {
    font-size: 0.9rem;
}

.post .footer {
    position: absolute;
    bottom: 1rem;
    font-size: 0.7rem;
    color: gray;
}